# Supabase Configuration
# Insira estas chaves no menu Settings -> Environment Variables do AI Studio
VITE_SUPABASE_URL=https://cbrjtfotvnrhuhnxexbp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_vhCITkukKXuupo8bqmGmWA_tCKgtyO4
