VITE_SUPABASE_URL=https://cbrjtfotvnrhuhnxexbp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_vhCITkukKXuupo8bqmGmWA_tCKgtyO4
VITE_EMAILJS_SERVICE_ID=service_7xkrl3a
VITE_EMAILJS_TEMPLATE_ID=template_3x9ysr2
VITE_EMAILJS_PUBLIC_KEY=Yz2fh7y3uHIBF-dcP
